<div th:fragment="email" style="position: relative;">
    <div style="display: flex; padding-top: 8px; align-items: stretch;">
        <style>
            .configpoint{
                padding-right: 8px;
                background-color: #fff; 
            }

            .select{
                border: 1px solid #aaa;
                border-right: 0px;
                border-radius: 2px 0px 0px 2px;
                margin-right: -1px;
                z-index: 99999;
                overflow:visible;
            }

            .select .h4title{
                background-color: #fff; 
            }

            .row .operate span {
                padding: 0px 4px;
                color: #3c8dbc;
                cursor: pointer;
            }
        </style>
        <div id="tpllist" style="flex-basis:288px; border-right:1px solid #aaa; flex-shrink: 0; position: relative;">
        </div>

        <div id="tplcontent" style="flex: auto;  padding:16px; padding-top: 0px;padding-right: 0px; margin-top: 0px;">
        </div>
    </div>
</div>