<div>
    <style>
       
    </style>
    <div id="teamconfig" >
        <div class="title"><i class="fa fa-server"></i> <span>角色团队管理</span></div>
        <div style="padding: 16px;" id="userList">
            <div class="tablehead">
                <div  class="cell" style="flex: 1 1 20%" cell="20%" data="uid" >序号</div>
                <div  class="cell" style="flex: 1 1 40%" cell="40%" data="name">用户名</div>
                <div  class="cell" style="flex: 1 1 20%" cell="20%" data="email" >邮箱</div>
                <div  class="cell" style="flex: 1 1 20%; " cell="20%" const="<span class='remove' style='cursor:pointer'><i class='fa fa-remove'></i></span>" >操作</div>
            </div>
            <div class="body">
                
            </div>
        </div>    
    </div>
    <div style="margin-top:8px;text-align:right; padding: 15px; background: #eee;">
        <span id="cancel" class="cbutton" ><i class="fa fa-times" aria-hidden="true"></i> <span>关闭</span></span>
    </div>
    <div i18n="" ></div>
</div>