<div>
    <style>
       #roleassign label{
           float: left;
       }
    </style>
    <div id="roleassign" >
        <div class="title"><i class="fa fa-server"></i> <span>指定转刊期刊与栏目</span></div>
        <div style="padding: 16px;">
            <div id="journal" style="position: relative;">
                <label>指定期刊<span style="color: red;">*</span></label>
                <input class="autoinput" param='abbreviation' placeholder="please input jouranl's abbreviation" id="userid"></input>
                <div  class="autolist" style="display: none; z-index: 1099999;" >
                </div>
            </div>
            <div id="section" style="position: relative;">
                <label>指定栏目<span style="color: red;">*</span></label>
                <input class="autoinput" param='title' placeholder="please input section's title" id="roleid" readonly="readonly"></input>
                <div  class="autolist" style="display: none; z-index: 1099999;" >
                </div>
            </div>
            <div class="errorinfo" style="line-height:28px;border:0px;font-size: 13px; color:crimson;">&nbsp;</div>
        </div>
        <div style="margin-top:8px;text-align:right; padding: 15px; background: #eee;">
            <span id="save" class="cbutton" style="color:#007ab2;"><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>确定</span></span>
            <span id="cancel" class="cbutton" ><i class="fa fa-times" aria-hidden="true"></i> <span>取消</span></span>
        </div>
        <div i18n="" ></div>
    </div>
</div>