<div>
    <style>
        
    </style>
    <div id="confrimepop"  style="overflow: hidden;">
        <div class="title"><i class="fa fa-server"></i><span >投稿完成</span></div>
        <div style="padding:16px;">
            <div id="form">
                论文投稿成功，请持续关注论文处理进程
            </div>
        </div>
        <div  id="footer" style="margin-top:28px;text-align:right; padding: 15px; background: #eee;">
            <span id="cancel" class="cbutton" style="color:#007ab2;"><i class="fa fa-check-square-o" aria-hidden="true"></i> <span>确定</span></span>
        </div>
        <div th:attr="i18n=${i18nInfos}" ></div>
    </div>

</div>